# 忽略指定文件夹
# 示例：忽略名为 "node_modules" 的文件夹
node_modules/
# 示例：忽略名为 "build" 的文件夹
build/
# 示例：忽略名为 "dist" 的文件夹
dist/

# 忽略指定后缀的文件
# 示例：忽略所有 .log 文件
*.log
# 示例：忽略所有 .tmp 文件
*.tmp
# 示例：忽略所有 .bak 文件
*.bak
# 示例：忽略所有 .env 文件
*.env
*.pkl

# 忽略特定文件
# 示例：忽略根目录下的 config.json 文件
/config.json

# 忽略特定文件夹中的特定文件
# 示例：忽略 "src" 文件夹下的所有 .map 文件
src/**/*.map

# 忽略所有隐藏文件（除了.gitignore）
.*
!.gitignore

# 忽略临时文件和系统文件
# 示例：忽略 macOS 的 .DS_Store 文件
.DS_Store
# 示例：忽略 Windows 的缩略图缓存文件
Thumbs.db
# 示例：忽略 Windows 的回收站文件
*.lnk